.page-header h3 {
  color: #337ab7;
  padding: 0 15px;
}
nav {
  padding: 0 15px;
}
.container .hn-photo {
  width: 60px;
  height: auto;
}
.container .media {
  margin: 15px 0;
}
.container .list-group {
  margin: 15px 0;
}
.form-control {
  margin: 15px 0;
}
